<h1>My Dogs</h1>

<%= link_to "Add a new dog", new_dog_path, class: 'btn btn-info' %>

<table class="table table-striped table-hover">
  <thead>

    <tr>
      <th> ID</th>
      <th>Name</th>
      <th>Breed</th>
      <th>Age</th>


    </tr>
  </thead>

    <tbody>
      <% @dogs.each do|puppy| %>
      <tr>
        <td><%= puppy.id %></td>
        <td><%= puppy.name %></td>
        <td><%= puppy.breed %></td>
        <td><%= puppy.age %></td>
      </tr>
<% end %>

    </tbody>
  </table>