<h1> (Show View) Details for <%= @dog.name %></h1>

<!-- ID -->

<p> <strong>ID: </strong> <%= @dog.id %>
</p>
<!-- Breed -->

<p> <strong>Breed: </strong> <%= @dog.breed %>
</p>
<!-- Age -->

<p> <strong>Age: </strong> <%= @dog.age %>
</p>
<!-- Date Added -->

<p> <strong>Date Added: </strong> <%= @dog.created_at %>
</p>

<p>
 <strong>Owner: </strong> <%= @dog.owner %>
</p>
<%= link_to 'Home', dogs_path, class: 'btn btn-default' %>

</p>